<header id="site-head">
  <div class="site-head-inner">
    <div class="vertical">
      <div id="site-head-content">
        <a id="blog-logo" class="default" href="{{@blog.url}}"></a>
        <h1 class="blog-title">{{@blog.title}}</h1>
        <div class="social-panel">
          <div class="buttons">
            <a class="btn" href="https://twitter.com/chenjun_cs" target="_blank">
              <img src="{{asset "images/twitter.svg"}}" alt="twitter" title="twitter">
            </a>
            <a class="btn" href="https://www.facebook.com/profile.php?id=100008505615994" target="_blank">
              <img src="{{asset "images/facebook.svg"}}" alt="facebook" title="facebook">
            </a>
            <a class="btn" href="https://plus.google.com/u/0/100852661248317192854/posts" target="_blank">
              <img src="{{asset "images/google.svg"}}" alt="google+" title="google+">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>